.Container{
    background-color: white;
    min-height: 600px;
    width: 75%;
    margin: 0 auto; 
    border-radius: 20px; 
    opacity: 65%;
    
}

.todoForm{
    padding: 25px;
}

 .todoInput{
    background-color: azure;;
    padding:10px;
    border: 1px solid ;
    border-radius:2px; 
    display:flex;
    flex-direction: column;
    margin: 0 auto ;       
    
 }

 .description{
    margin: 7px;
    border-radius:5px;    

 }

